/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-oct-2017, 15:41:29
    Author     : THOR
*/

/* Styles */
  html,body {
  height:100%;
  margin:0;
    background: -webkit-linear-gradient(top, #0B486B, #CFF09E);

}

.content {
  height:100%;
  min-height:100%;
}

html>body .content {
  height:auto;
}


#one {
  background: center center scroll #0B486B;;
  
}

#two {
  background: url(http://cloud.niklausgerber.com/1a2n2I3J1h0M/red.png) center center no-repeat scroll #8F2041;
}

#three {
  background: url(http://cloud.niklausgerber.com/1X180T1X2v3d/dark-orange.png) center center no-repeat scroll #DC554F;
}

#four {
  background: url(http://cloud.niklausgerber.com/432W0y1g2h05/orange.png) center center no-repeat scroll #FF905E;
}

#five {
  background: url(http://cloud.niklausgerber.com/2N002H122B0d/yellow.png) center center no-repeat scroll #FFDB77;
}